body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?Denver");
    background-repeat: no-repeat;
    background-size:cover;
    transition: background-image 1s ease-in-out;
}

.shortcut.icon {
    width: 16px;
    height: 16px;
}

.fade-in{
    background-image: url("'https://source.unsplash.com/1600x900/?' + name");
}

.card {
    background-color: #000000d0;
    color: aliceblue;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 460px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: random;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    border: none;
    outline: none;
    color: aliceblue;
    background-color: #7c7c7c2b;
}

input {
    background-color: #7c7c7c2b;
    outline: none;
    border: none;
    padding: .5em 1em;
    width: calc(100% - 100px);
    margin: 10px;
    border-radius: 24px;
    color: aliceblue;
    font-family: inherit;
    font-size: 120%;
}

button:hover {
    background-color: #7c7c7c6b;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.weather {
    font-size: 1.5em;
}

.weather h1{
    font-size: 3rem;
    line-height: 1;
    margin: 1em 1em 1em 0;
}

.weather h2 {
    font-size: 3rem;
}

.temp {
    margin-bottom: 1em;
    padding: 0;
    line-height: 0.5;
}

.container {
    display: flex;
    align-items: center;
}

.description, .humidity, .wind {
    text-transform: capitalize;
}

.windUnits{
    text-transform: uppercase;
}

.windImg{
    /* display: inline-block; */
    /* vertical-align: center; */
    /* padding: 0; */
    position:relative;
    top: 0.25em;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content:"Loading... ";
    color:inherit;
    position: absolute;
    top: 0;
    left: 20px;
}